{
  "Job": {
    "ID": "{{ job_name }}",
    "Name": "{{ job_name }}",
    "Namespace": "{{ namespace }}",
    "Type": "service",
    "Datacenters": {{ datacenters | tojson }},
    "TaskGroups": [
      {
        "Name": "{{ job_name }}",
        "Count": 1,
        "Constraints": [
          {
            "LTarget": "${node.class}",
            "Operand": "=",
            "RTarget": "{{ node_class }}"
          }
        ],
        "Tasks": [
          {
            "Name": "{{ job_name }}",
            "Driver": "docker",
            "User": "{{ user }}",
            "Config": {
              "image": "{{ image }}",
              "entrypoint": {{ entrypoint | tojson }},
              "args": {{ args | tojson }}{% if cap_add %},
              "cap_add": {{ cap_add | tojson }}{% endif %}{% if work_dir %},
              "work_dir": "{{ work_dir }}"{% endif %}
            },
            {% if env %}
            "Env": {{ env | tojson }},
            {% endif %}
            "Resources": {
              "CPU": {{ cpu }},
              "MemoryMB": {{ memory_mb }}
            },
            "Templates": [
              {
                "EmbeddedTmpl": {{ template_data | tojson }},
                "DestPath": "local/env.txt",
                "Envvars": true
              }
            ]
          }
        ]
      }
    ]
  }
}
