__pycache__/
*.pyc
.venv*
.pip*
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.DS_Store
rendered/
*.token
.fedctl/
results/
submit_service/state/*.db
ansible/group_vars/tailscale_nodes.local.yml
ansible/.vault_pass
writeup/
refs/heterofl/
refs/FIARSE/
refs/heterofl_fedctl/data/
refs/FedRolex-main
/tasks/
apps/fedctl_research/run_configs
.claude/
apps/fedctl_research/data/
refs/QuAFL/
tmp/
pastproject/
