__pycache__/
*.pyc
.venv*
.pip*
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.DS_Store
rendered/
*.token
.fedctl/
results/
submit_service/state/*.db
ansible/group_vars/tailscale_nodes.local.yml
ansible/.vault_pass
writeup/out/
writeup/out_submit/
writeup/**/out/
writeup/tmp/
writeup/**/_minted/
writeup/**/.DS_Store
writeup/**/*.aux
writeup/**/*.bbl
writeup/**/*.bcf
writeup/**/*.blg
writeup/**/*.fdb_latexmk
writeup/**/*.fls
writeup/**/*.listing
writeup/**/*.log
writeup/**/*.nav
writeup/**/*.out
writeup/**/*.run.xml
writeup/**/*.snm
writeup/**/*.synctex.gz
writeup/**/*.toc
writeup/**/*.xdv
refs/heterofl/
refs/FIARSE/
refs/heterofl_fedctl/data/
refs/FedRolex-main
/tasks/
apps/fedctl_research/run_configs
.claude/
.vscode/
3243Z-sourcecode/
apps/fedctl_research/data/
refs/QuAFL/
tmp/
pastproject/
AGENTS.md
