SUBMIT_DB_URL={{ submit_db_url }}
SUBMIT_NOMAD_ENDPOINT={{ submit_nomad_endpoint }}
SUBMIT_REPO_CONFIG={{ submit_repo_config_path }}
{% if submit_service_public_endpoint is defined and submit_service_public_endpoint %}
SUBMIT_SERVICE_ENDPOINT={{ submit_service_public_endpoint }}
{% endif %}
FEDCTL_SUBMIT_TOKENS={{ submit_tokens | join(',') }}
{% if submit_report_token is defined and submit_report_token %}
SUBMIT_REPORT_TOKEN={{ submit_report_token }}
{% endif %}
{% if submit_token_map is defined and submit_token_map %}
FEDCTL_SUBMIT_TOKEN_MAP={{ submit_token_map | to_json }}
{% endif %}
FEDCTL_SUBMIT_ALLOW_UNAUTH={{ submit_allow_unauth | lower }}
SUBMIT_DISPATCH_MODE={{ submit_dispatch_mode }}
SUBMIT_AUTOPURGE_COMPLETED_AFTER={{ submit_autopurge_completed_after_s }}
FEDCTL_PRESIGN_TTL={{ submit_presign_ttl }}
SUBMIT_UI_ENABLED={{ submit_ui_enabled | lower }}
SUBMIT_UI_SESSION_SECRET={{ submit_ui_session_secret }}
SUBMIT_UI_COOKIE_NAME={{ submit_ui_cookie_name }}
SUBMIT_UI_COOKIE_SECURE={{ submit_ui_cookie_secure | lower }}
SUBMIT_REGISTRATION_ENABLED={{ submit_registration_enabled | lower }}
{% if submit_aws_shared_credentials_file %}
AWS_SHARED_CREDENTIALS_FILE={{ submit_aws_shared_credentials_file }}
{% endif %}
{% if submit_aws_config_file %}
AWS_CONFIG_FILE={{ submit_aws_config_file }}
{% endif %}
{% if submit_aws_profile %}
AWS_PROFILE={{ submit_aws_profile }}
{% endif %}
{% if submit_aws_region %}
AWS_REGION={{ submit_aws_region }}
{% endif %}
