SUBMIT_DB_URL={{ submit_db_url }}
SUBMIT_NOMAD_ENDPOINT={{ submit_nomad_endpoint }}
FEDCTL_SUBMIT_TOKENS={{ submit_tokens | join(',') }}
FEDCTL_SUBMIT_ALLOW_UNAUTH={{ submit_allow_unauth | lower }}
SUBMIT_DISPATCH_MODE={{ submit_dispatch_mode }}
