SUBMIT_DB_URL={{ submit_db_url }}
SUBMIT_NOMAD_ENDPOINT={{ submit_nomad_endpoint }}
FEDCTL_SUBMIT_TOKENS={{ submit_tokens | join(',') }}
{% if submit_token_map is defined and submit_token_map %}
FEDCTL_SUBMIT_TOKEN_MAP={{ submit_token_map | to_json }}
{% endif %}
FEDCTL_SUBMIT_ALLOW_UNAUTH={{ submit_allow_unauth | lower }}
SUBMIT_DISPATCH_MODE={{ submit_dispatch_mode }}
